body { 
    background: #000; 
    color: #fff; 
    font-family: 'Inter', sans-serif; 
    overflow-x: hidden; 
    -webkit-tap-highlight-color: transparent; /* Elimina el brillo molesto al tocar en iOS */
}

.scroll-hide::-webkit-scrollbar { display: none; }
.scroll-hide { -ms-overflow-style: none; scrollbar-width: none; }

.movie-card { 
    transition: transform 0.2s ease; 
    flex-shrink: 0; 
    cursor: pointer; 
    border-radius: 1rem; 
    border: 1px solid rgba(255,255,255,0.1); 
    pointer-events: auto !important; /* Fuerza la interacción táctil */
    touch-action: manipulation;
}

.movie-card:active { 
    transform: scale(0.95); 
}

#player-view {
    display: none;
}
#player-view.active {
    display: flex !important;
}

#video-root {
    width: 100%;
    height: calc(100vh - 120px);
    background: #000;
}

iframe { 
    width: 100%;
    height: 100%;
    border: none;
    background: #000; 
}
